<div ng-controller='AddTaskController'>
    <div>Add Task Page</div>
     <a ng-href="#/tasks">
        <button>Go Back</button>
    </a>
    <form>
        Task Name:<br>
        <input type="text" name="name" ng-model="name">
        <br>
        Task Description:<br>
        <textarea ng-model="description"></textarea>
        <br>
        Task Deadline:<br>
        <input type="date" name="deadline" ng-model="deadline">
        <br>
        Task Completed:<br>
        <input type="radio" ng-model="completed" value="true">Completed<br>
        <input type="radio" ng-model="completed" value="false">Not yet<br>
        <br>
        Task AssignedUser:<br>
        <input type="text" name="assignedUser" ng-model="assignedUser" value="56fc993498fb33b513570407">
        <br>
        Task AssignedUser Name:<br>
        <input type="text" name="assignedUserName" ng-model="assignedUserName" value="wqer">
        <br>
    </form>
    <button ng-click="submit()">Submit</button>
    <div id="message"></div>
</div>

