<div ng-controller='OneTaskController'>
    <div>One Task Detail</div>
    <a ng-href="#/tasks">
        <button>Go back</button>
    </a>
    <div>
        <div>Name : {{task.name}}</div>
        <div>Description : {{task.description}}</div>
        <div>Deadline : {{task.deadline}}</div>
        <div>Completed : {{task.completed}}</div>
        <div>AssignedUser : {{task.assignedUser}}</div>
        <div>AssignedUserName : {{task.assignedUserName}}</div>
        <div>DateCreated : {{task.dateCreated}}</div>
        <br>
    </div>

</div>
