<div class="list" ng-controller='TasksController'>
  <div>Tasks</div>
    <a ng-href="#/tasks/addTask">
        <button>Add Task</button>
    </a>
    <div>
        <h4>Current Page: {{ pageNum }}</h4>
        <button ng-click="prevPage()"> Prev page</button>
        <button ng-click="nextPage()"> Next page</button>
        <div ng-init="taskType='pending'">
            <label>
                <input type="radio" ng-model="taskType" value="all">All
            </label>
            <label>
                <input type="radio" ng-model="taskType" value="completed">Completed
            </label>
            <label>
                <input type="radio" ng-model="taskType" value="pending">pending
            </label>
        </div>


        <div ng-repeat="task in tasks">
            <div>Task Name : {{task.name}}</div>
            <div>AssignedUserName : {{task.assignedUserName}}</div>
            <a ng-href="#/tasks/{{task._id}}">know more</a>
            <br>
            <button ng-click="deleteTask(task._id)"> Delete</button>
            <br>
            <br>
        </div>
    </div>
</div>