// Add any custom Sass & CSS here

.red-star {
  color: red;
}

.infoDiv div{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F5F5F5;
}

.oneInfo{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F5F5F5;
}

.outer{
  position: relative;
}

.inner{
   position: absolute;
    top: 50%;
  transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
//  display: table;
}

.inButton{
  margin: 0px;
}